<form {{action "saveElection" on="submit"}} class="create-event">
  

  <div class="field-container">


    <legend>Elección {{model.name}}

    <label class="election-publish">
      {{input type="checkbox" name="isEnabled" checked=model.enabled}}  
      {{#if model.enabled}}
        Publicado <!-- Select Si | No  (Si es referendum) -->
      {{else}}
        Publicar en la web
      {{/if}}
       </label>

    </legend>
    <fieldset class="three">
    <label>
      Nombre
      {{input type="text" value=model.name placeholder="ej: Legislativa 2015"}}
    </label>
  </fieldset>

   <fieldset class="three">
    <label>
      Fecha
    </label>
    <div class="date-picker-container">
      {{date-picker date=model.date valueFormat='YYYY-MM-DD' yearRange="1980, 2020" utc=false placeholder="Ingrese la fecha" }}
    </div>
  </fieldset> 

    <fieldset class="three">
      <label>
        Pais <!-- Select -->
        {{model-selector modelName='country' value=model.country optionLabelPath="content.name" }}
      </label>
     
    </fieldset>    

    

    <fieldset class="three">
      <label>
        Nivel <!-- Select -->
        {{model-selector modelName='election-level' value=model.level optionLabelPath="content.name" }}
      </label>
    </fieldset> 
    <fieldset class="three">
      <label>
        Tipo <!-- Select -->
        {{model-selector modelName='election-type' value=model.type optionLabelPath="content.name" }}
      </label>
    </fieldset>  


    
  

   <fieldset class="three">
    <label>
      Instancia <!-- Select Primera vuelta | Segunda vuelta | Directa -->
      {{model-selector modelName='election-instance' value=model.instance optionLabelPath="content.name" }}
    </label>
  </fieldset>   
  <fieldset class="three">
    <label>
      Categoria <!-- Select Primarias | Generales -->
      {{model-selector modelName='election-category' value=model.category optionLabelPath="content.name" }}
    </label>
  </fieldset> 

   <fieldset class="three">
    <label>
      Participacion <!-- Select Obligatoria | Opcional -->
      {{model-selector modelName='election-participation' value=model.participation optionLabelPath="content.name" }}
    </label>
  </fieldset>  

  {{#if isReferendum}}
  <fieldset class="three -checkbox">
      <label>
      {{input type="checkbox" name="isVinculated" checked=model.vinculated}}   </label>
      Vinculante <!-- Select Si | No  (Si es referendum) -->
  </fieldset>
  {{/if}}

  {{#if isLegislative}}
  <fieldset class="three">
    <label>
      Camara legislativa <!-- Select Unicameral | Bicameral (Si es Legislativa) -->
      {{model-selector modelName='camera-type' value=model.cameraType}}
    </label>
  </fieldset> 
   <fieldset class="election-poll">
    <label>
      Bancas en juego
    </label>
    <div class="quantity">
      {{input type="number" value=model.banks placeholder="Ingrese la cantidad"}}
    </div>
  </fieldset>  
  {{/if}}
  </div>


<div class="field-container">
  <legend>Datos</legend>
   <fieldset>
        <label>
          Historia
          {{textarea type="text" value=model.history}}
        </label>
  </fieldset>  
  <fieldset class="election-poll">
    <label>
      Electores habilitados
    </label>
    <div class="quantity">
      {{input type="number" value=model.electors placeholder="Ingrese la cantidad"}}
    </div>
  </fieldset>   

  <fieldset class="election-poll ">
    <label>
      Votantes
    </label>
    <div class="quantity">
      {{input type="number" value=model.voters placeholder="Ingrese la cantidad"}}
    </div>
    <div class="percent">  
      {{input type="text" value=model.votersPercent placeholder="Ingrese el porcentaje" pattern="\d+(,\d{2})?"}}

    </div>
  </fieldset> 

   <fieldset class="election-poll">
    <label>
      Nulos
    </label>
    <div class="quantity">
      {{input type="number" value=model.nulls placeholder="Ingrese la cantidad"}}
    </div>
    <div class="percent">  

      {{input type="text" value=model.nullsPercent placeholder="Ingrese el porcentaje" pattern="\d+(,\d{2})?"}}
    </div>
  </fieldset>    

   <fieldset class="election-poll">
    <label>
      Blancos
    </label>
    <div class="quantity">
      {{input type="number" value=model.blank placeholder="Ingrese la cantidad"}}
    </div>
    <div class="percent">  
      
      {{input type="text" value=model.blankPercent placeholder="Ingrese el porcentaje" pattern="\d+(,\d{2})?"}}
    </div>
  </fieldset>   
  
       
   <fieldset class="election-poll">
    <label>
      Validos
    </label>
    <div class="quantity">
      {{input type="number" value=model.valids placeholder="Ingrese la cantidad"}}
    </div>
    <div class="percent">  
      {{input type="text" value=model.validsPercent placeholder="Ingrese el porcentaje" pattern="\d+(,\d{2})?"}}
    </div>
  </fieldset>     

   <fieldset class="election-poll">
    <label>
      Positivos
    </label>
    <div class="quantity">
      {{input type="number" value=model.positives placeholder="Ingrese la cantidad"}}
    </div>
    <div class="percent">  
      {{input type="text" value=model.positivesPercent placeholder="Ingrese el porcentaje" pattern="\d+(,\d{2})?"}}
    </div>
  </fieldset>   

   <fieldset class="election-poll">
    <label>
      Abstenciones
    </label>
    <div class="quantity">
      {{input type="number" value=model.abstens placeholder="Ingrese la cantidad"}}
    </div>
    <div class="percent">  
      {{input type="text" value=model.abstensPercent placeholder="Ingrese el porcentaje" pattern="\d+(,\d{2})?"}}
    </div>
  </fieldset> 

  <fieldset class="election-poll">
    <label>
      Extranjeros
    </label>
    <div class="quantity">
      {{input type="number" value=model.externals placeholder="Ingrese la cantidad"}}
    </div>
    <div class="percent">
      {{input type="text" value=model.externalsPercent placeholder="Ingrese el porcentaje" pattern="\d+(,\d{2})?"}}
    </div>
  </fieldset>

  <fieldset class="election-poll">
    <label>
      No Marcados (Caso Colombia)
    </label>
    <div class="quantity">
      {{input type="number" value=model.unchecked placeholder="Ingrese la cantidad"}}
    </div>
    <div class="percent">
      {{input type="text" value=model.uncheckedPercent placeholder="Ingrese el porcentaje" pattern="\d+(,\d{2})?"}}
    </div>
  </fieldset>      
</div>

  <div class="field-container">
    <legend>
      {{#if isEjecutive}}
        Formulas
      {{/if}}
      {{#if isLegislative}}
        Fuerza Politica
      {{/if}}
      {{#if isReferendum}}
        Propuesta
      {{/if}}


      <a {{action 'addFormula'}}>Agregar Formula</a>
    </legend>
    <div class="formula-container">
      
    {{#each model.formulas as |formula|}}
        <div class="formula-item">
          {{#if isEjecutive}}
            {{partial 'data-entry/elections/elections/formulas/ejecutive'}}
          {{/if}}
          {{#if isLegislative}}
            {{partial 'data-entry/elections/elections/formulas/legislative'}}
          {{/if}}
          {{#if isReferendum}}
            {{partial 'data-entry/elections/elections/formulas/referendum'}}
          {{/if}}
          <a {{action 'removeFormula' formula}} class="remove-formula">{{fa-icon 'times'}}</a>      
        </div>
    {{/each}}
    </div>
  </div>

  <fieldset>
    <input type="submit" value="Guardar">
  </fieldset>

</form>
    
