<form {{action "save" on="submit"}} class="create-event">

  <fieldset>
    <label>
      Pais <!-- Select -->
      {{model-selector modelName='country' value=model.country optionLabelPath="content.name" }}
    </label>
  </fieldset>     
  <fieldset>
    <label>
      Nivel <!-- Select -->
      {{model-selector modelName='election-level' value=model.level optionLabelPath="content.name" }}
    </label>
  </fieldset> 
  <fieldset>
    <label>
      Tipo <!-- Select -->
      {{model-selector modelName='election-type' value=model.type optionLabelPath="content.name" }}
    </label>
  </fieldset>   
  <fieldset>
    <label>
      Fecha
    </label>
    <div class="date-picker-container">
      {{date-picker date=model.date valueFormat='YYYY-MM-DD' utc=true }}
    </div>
  </fieldset>  
  <fieldset>
    <label>
      Nombre (EJ: Legislativa 2015)
      {{input type="text" value=model.name}}
    </label>
  </fieldset>     
  <fieldset>
    <label>
      Instancia <!-- Select Primera vuelta | Segunda vuelta | Directa -->
      {{model-selector modelName='election-instance' value=model.instance optionLabelPath="content.name" }}
    </label>
  </fieldset>   
  <fieldset>
    <label>
      Categoria <!-- Select Primarias | Generales -->
      {{model-selector modelName='election-category' value=model.category optionLabelPath="content.name" }}
    </label>
  </fieldset>    

  <fieldset>
    <label>
      Vinculante <!-- Select Si | No  (Si es referendum) -->
      {{input type="checkbox" name="isVinculated" checked=model.vinculated}}   
    </label>
  </fieldset>   

  <fieldset>
    <label>
      Camara legislativa <!-- Select Unicameral | Bicameral (Si es Legislativa) -->
      {{model-selector modelName='camera-type' value=model.cameraType optionLabelPath="content.name" }}
    </label>
  </fieldset> 

  <fieldset>
    <label>
      Participacion <!-- Select Obligatoria | Opcional -->
      {{model-selector modelName='election-participation' value=model.participation optionLabelPath="content.name" }}
    </label>
  </fieldset> 
        
  <fieldset>
    <input type="submit" value="Guardar">
  </fieldset>
</form>
    
