  <fieldset>
    <label>
    	Presidente | Gobernador
          {{model-finder modelName='candidate' list=formula.candidato labelPath="name" sigle=true}}
          {{model-finder modelName='charge' list=formula.cargo labelPath="name" sigle=true}}
  	</label>
    <label>
    	VicePresidente | ViceGobernador
          {{model-finder modelName='candidate' list=formula.candidato labelPath="name" sigle=true}}
          {{model-finder modelName='charge' list=formula.cargo labelPath="name" sigle=true}}
  	</label>  	
    <label>
    	Fuerza Politica
          {{model-finder modelName='political-force' list=formula.politicalForce labelPath="name" sigle=true}}
  	</label>  
    <label>
    	Votos
        {{input type="number" value=formula.votes}}
  	</label> 
     <label>
    	Porcentaje
        {{input type="number" value=formula.percent}}
  	</label> 	   	 	
 </fieldset> 	