<div class="brief-header">
  <h5>{{formula.politicalForce.name}}</h5>
  <p>{{formula.votes}}, ({{formula.percent}}%)</p>  
</div>

<div class="brief-content">
  {{#each formula.provinceStatuses as |status|}}
      <div class="brief-item">
      <div class="item-name">
        
      Provincia | Estado  <!-- Select Obligatoria | Opcional -->
      {{status.province.name}}
      </div>
      <div class="item-votes">

       {{status.votes.votes}}
       <small>Votos</small>
      </div>
      <div class="item-percent">
         {{status.votes.percent}}%
      </div>
      </div>
  {{/each}}   

  <div class="slat-list ">
    {{#each formula.candidates as |candidate|}}
      <div class="slat-item -image">
        <div class="slat-img">
           {{#if candidate.candidate.picture.url}}
            <div class="img-container -candidates">
              <img {{bind-attr src=candidate.candidate.picture.url}} width="50px">
            </div>
          {{/if}}  
        </div>
        <div class="slat-content">
          <h5>{{candidate.candidate.fullName}}</h5>
        </div>
        <div class="slat-action">
           <i>{{candidate.charge.name}}</i>
        </div>
      </div>
    {{/each}}
  </div>
</div>