  <fieldset>
    <label>
      Fuerza Politica
          {{model-finder modelName='political-force' list=formula.politicalForce labelPath="name" sigle=true}}
    </label>  
    <label>
    	Votos
        {{input type="number" value=formula.votes}}
  	</label> 
     <label>
    	Porcentaje
        {{input type="number" value=formula.percent}}
  	</label> 	   	 	
    <a {{action 'addProvince' formula}}>Agregar resultado por provincia</a>
    {{#each formula.provinceStatuses as |status|}}
    <fieldset> 
      <label>
        Provincia | Estado  <!-- Select Obligatoria | Opcional -->
        {{model-selector modelName='province' value=status.province optionLabelPath="content.name" }}
      </label>
      <label>
        Votos
          {{input type="number" value=status.votes.votes}}
      </label> 
       <label>
        Porcentaje
          {{input type="number" value=status.votes.percent}}
      </label>     
      <label>
        Bancas
          {{input type="number" value=status.votes.positions}}
      </label> 
     </fieldset>  
    {{/each}} 
    <a {{action 'addCandidate' formula}}>Agregar Candidato</a>
    {{#each formula.candidates as |candidate|}}
    <fieldset> 
      <label>
        Cargo
        {{model-selector modelName='charge' value=candidate.charge optionLabelPath="content.name" }}
      </label>
      <label>
        Candidato
        {{model-finder modelName='candidate' list=candidate.candidate labelPath="name" sigle=true}}
      </label>

     </fieldset>  
    {{/each}}      
 </fieldset> 	