<fieldset>	
  <label>
  	Fuerza Politica
        {{model-selector modelName='political-force' countryFilter=model.country.id value=formula.politicalForce labelPath="name" sigle=true}}
	</label>
  <fieldset class="province-poll"> 
    <label>
      {{#if isDiputies}}
        Diputados
      {{else}}
        {{#if isSenators}}
          Senadores
        {{else}}
          Asambleistas
        {{/if}}
      {{/if}}
    </label>
    <div class="votes">
      Votos
      {{input type="number" value=formula.assemblyman.votes}}
    </div> 
    <div class="percent">
      Porcentaje
      {{input type="text" value=formula.assemblyman.percent placeholder="Ingrese el porcentaje" pattern="\d+(,\d{2})?"}}
    </div>     
    <div class="position">
      Bancas
      {{input type="number" value=formula.assemblyman.positions}}
    </div>   
  </fieldset>    
</fieldset> 	