  <div class="brief-header">
    <h5>{{formula.politicalForce.name}}</h5>
  </div>
  <div class="brief-content">	
     <div class="slat-list">
        <div class="slat-item -title">
          <div class="slat-title">
          {{#if isDiputies}}
            Diputados
          {{else}}
            {{#if isSenators}}
              Senadores
            {{else}}
              Asambleistas
            {{/if}}
          {{/if}}
          </div>
          <div class="slat-content">
            <div class="slat-vote">
              Votos
              {{formula.assemblyman.votes}}
            </div>
            <div class="slat-vote">
              Porcentaje
             ({{formula.assemblyman.percent}}%)
            </div>
            <div class="slat-vote">
              Bancas
              {{formula.assemblyman.positions}}
            </div>
          </div>
        </div>
    </div>
</div> 	