  <fieldset>	
    <label>
      Fuerza Politica
      {{formula.politicalForce.name}}
    </label>  
    {{#unless isBicameral}}
      Asambleistas
      <label>
        Votos
          {{formula.assemblyman.votes}}
      </label> 
       <label>
        Porcentaje
          {{formula.assemblyman.percent}}
      </label>     
      <label>
        Bancas
          {{formula.assemblyman.positions}}
      </label>         
    {{else}}
      Diputados
      <label>
        Votos
          {{formula.diputies.votes}}
      </label> 
      <label>
        Porcentaje
          {{formula.diputies.percent}}
      </label>  
      <label>
        Bancas
          {{formula.diputies.positions}}
      </label>         
      Senadores
       <label>
        Votos
          {{formula.senators.votes}}
      </label> 
      <label>
        Porcentaje
          {{formula.senators.percent}}
      </label>  
      <label>
        Bancas
          {{formula.senators.positions}}
      </label>                 
    {{/unless}}  
</fieldset> 	