  <fieldset>	
    <label>
    	Propuesta
        {{input type="text" value=formula.proposal}}
  	</label>  
    <label>
    	Votos SI
        {{input type="number" value=formula.positiveVotes.votes}}
        {{input type="number" value=formula.positiveVotes.percent}} %
  	</label> 
     <label>
    	Votos No
        {{input type="number" value=formula.negativeVotes.votes}}
        {{input type="number" value=formula.negativeVotes.percent}} %
  	</label> 	   	 	
 </fieldset> 	