  <fieldset>	
    <label>
    	Propuesta
        {{input type="text" value=formula.proposal}}
  	</label>  
    <label>
    	Votos SI
        {{input type="number" value=formula.positiveVotes}}
        {{input type="number" value=formula.positiveVotesPercent}} %
  	</label> 
     <label>
    	Votos No
        {{input type="number" value=formula.negativeVotes}}
        {{input type="number" value=formula.negativeVotesPercent}} %
  	</label> 	   	 	
 </fieldset> 	