 <div class="brief-referendum">	
    <p>{{formula.proposal}}</p> 
    <div class="referendum-item -yes">
    	{{fa-icon 'thumbs-o-up'}}
      <span>
        {{formula.positiveVotes.votes}}
        <small>({{percent-of formula.positiveVotes.votes model.valids}})</small>
      </span>
  	</div> 
     <div class="referendum-item -no">
    	{{fa-icon 'thumbs-o-down'}}
      <span>
        {{formula.negativeVotes.votes}}
        <small>({{percent-of formula.negativeVotes.votes model.valids}})</small>
      </span>
  	</div> 	   	 	
 </div> 	