 <div class="field-container">
  <fieldset>
    <label>
      Propuesta
      {{input type="text" value=formula.proposal}}
    </label>
  </fieldset>


  <fieldset class="election-poll">
    <label>
       Votos SI
    </label>
    <div class="quantity">
      {{input type="number" value=formula.positiveVotes.votes placeholder="Ingrese la cantidad"}}
    </div>
    <div class="percent">
      {{input type="number" value=formula.positiveVotes.percent placeholder="Ingrese el porcentaje" pattern="\d+(,\d{2})?"}}
      <span>%</span>
    </div>
  </fieldset>   

  <fieldset class="election-poll">
    <label>
       Votos No
    </label>
    <div class="quantity">
      {{input type="number" value=formula.negativeVotes.votes placeholder="Ingrese la cantidad"}}
    </div>
    <div class="percent">
      {{input type="text" value=formula.negativeVotes.percent placeholder="Ingrese el porcentaje" pattern="\d+(,\d{2})?"}}
      <span>%</span>
    </div>
  </fieldset>   

</div>