  <div>	
    <label>
    	Propuesta
      <p>{{formula.proposal}}</p>
  	</label>  
    <label>
    	Votos SI
      {{formula.positiveVotes.votes}} ({{formula.positiveVotes.percent}}%)
  	</label> 
     <label>
    	Votos No
      {{formula.negativeVotes.votes}} ({{formula.negativeVotes.percent}}%)
  	</label> 	   	 	
 </div> 	