 <div class="brief-referendum">	
    <p>{{formula.proposal}}</p> 
    <div class="referendum-item -yes">
    	{{fa-icon 'thumbs-o-up'}}
      <span>
        {{formula.positiveVotes.votes}}
        <small>({{formula.positiveVotes.percent}}%)</small>
      </span>
  	</div> 
     <div class="referendum-item">
    	{{fa-icon 'thumbs-o-down'}}
      <span>
        {{formula.negativeVotes.votes}}
        <small>({{formula.negativeVotes.percent}}%)</small>
      </span>
  	</div>

  {{#each formula.provinceStatuses as |status|}}
      <div class="brief-item">
      <div class="item-name">
        
      Provincia | Estado  <!-- Select Obligatoria | Opcional -->
      {{status.province.name}}
      </div>
      <div class="item-votes">

       {{status.positiveVotes.votes}}
       <small>Votos</small>
      </div>
      <div class="item-percent">
         {{status.positiveVotes.percent}}%
      </div>

     <div class="item-votes">

       {{status.negativeVotes.votes}}
       <small>Votos</small>
      </div>
      <div class="item-percent">
         {{status.negativeVotes.percent}}%
      </div>      
      </div>
  {{/each}}      	   	 	
 </div> 	