<form {{action "save" on="submit"}} class="create-event">
  <div class="field-container">
    <fieldset class="three">
      <label>
        Nombre
        {{input type="text" value=model.name}}
      </label>
    </fieldset>
    <fieldset class="three">
      <label>
        Apellido
        {{input type="text" value=model.lastName}}
      </label>
    </fieldset>
    <fieldset>
      <label>
        Apodo | Alias
        {{input type="text" value=model.alias}}
      </label>
    </fieldset>
    <fieldset>
      <label>
        Pais
        {{model-selector modelName='country' value=model.country labelPath="name" sigle=true}}
      </label>
    </fieldset>

      
  </div>

  <fieldset>
        <label>
          Historia
          {{textarea type="text" value=model.history}}
        </label>
      </fieldset>

  <fieldset>
    <label>
      Fuerza Politico (EJ: Frente para la victoria)
      {{model-selector modelName='political-force' countryFilter=model.country.id  value=model.politicalForce labelPath="name" sigle=true}}
    </label>
  </fieldset>

  <div class="hero-logo -profile">
      {{#if model.picture.url}}
        <div class="img-container">
          <img {{bind-attr src=model.picture.url}}>
        </div>
      {{/if}}
      {{file-uploader file=model.picture multiple=false}}
  </div>   

  <fieldset>
    <input type="submit" value="Guardar">
  </fieldset>
</form>
    
