<h1>Candidatos</h1>

<p>
  {{link-to "Agregar" "data-entry.elections.candidates.new" }}
</p>

{{#if model.length}}
  <table class="table-minimal">
    <thead>
      <tr>
        <th>
          Nombre
        </th>
        <th>
          Apellido
        </th>
        <th>
          Alias
        </th>    
        <th>
          Pais
        </th>        
        <th colspan="3">
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each candidate in model}}
        <tr>
          <td>
            {{#if candidate.picture.url}}
              <div class="img-container">
                <img {{bind-attr src=candidate.picture.url}} width="120px">
              </div>
            {{/if}}  
            {{candidate.name}}
          </td>
          <td>
            	{{candidate.lastName}}
          </td>
          <td>
            {{candidate.alias}}
          </td>
          <td>
            {{candidate.country.name}}
          </td>  
          <td>
            {{candidate.charge.name}}
          </td> 
          <td>
           {{candidate.election.name}}
          </td>         
          <td>
            {{link-to "Editar" "data-entry.elections.candidates.edit" candidate}}
            <a href="#" {{action "remove" candidate}}>Eliminar</a>
          </td>
        </tr>
      {{/each}}
      {{infinity-loader infinityModel=model}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No candidates found
  </p>
{{/if}}