<form {{action "save" on="submit"}} class="create-event">
  <fieldset>
    <label>
      Nombre
      {{input type="text" value=model.name}}
    </label>
  </fieldset>
  <fieldset>
    <label>
      Sigla
      {{input type="text" value=model.initials}}
    </label>
  </fieldset>   
  <fieldset>
    <label>
      Web
      {{input type="text" value=model.web}}
    </label>
  </fieldset>  
  <fieldset>
    <label>
      Historia
       {{textarea type="text" value=model.history}}
    </label>
  </fieldset>  
    
   <fieldset>
    <label>
      Pais
      {{model-selector modelName='country' value=model.country labelPath="name" sigle=true}}
    </label>
  </fieldset> 

   <fieldset>
    <label>
      Alineacion
      {{model-selector modelName='political-aline' value=model.alignment labelPath="name" sigle=true}}
    </label>
  </fieldset>   <div class="upload-file">
      {{#if model.logo.url}}
        <div class="img-container">
          <img {{bind-attr src=model.logo.url}}>
        </div>
      {{/if}}
      {{file-uploader file=model.logo multiple=false}}
  </div>    
  <fieldset class="color-picker">
    <label>
      Color
      {{spectrum-color-picker color=color preferredFormat="hex" clickoutFiresChange=true showInput=true moveFiresChange=true showButtons=false}}
    </label>
  </fieldset>

  <fieldset>
    <input type="submit" value="Guardar">
  </fieldset>
</form>
    
