<section>
  <div class="section-header">
    <h1>Partidos politicos</h1>
    {{link-to "Agregar" "data-entry.elections.political-parties.new" classNames="btn"}}
  </div>
  <div class="section-content">
    <div class="search-form">
      {{input type="text" value=query class="field"}}
      <a {{action 'search'}} class="action">
        {{fa-icon "search"}}
      </a>
    </div>
    {{#if model.length}}
      <div class="slat-list">
        {{#each politicalparty in model}}
          <div class="slat-item">
            <div class="palet-color">
              {{{color-div politicalparty.color}}}
            </div>
            <div class="slat-content">
              <h4>{{politicalparty.name}}</h4>
            </div>
            <div class="slat-action">
              {{link-to "Editar" "data-entry.elections.political-parties.edit" politicalparty classNames="btn"}}
              <a href="#" class="btn" {{action "remove" politicalparty}}>Eliminar</a>
            </div>
          </div>
        {{/each}}
        {{infinity-loader infinityModel=model}}
      </div>
    {{else}}
      <div class="loading">
        {{loading-bubbles color='#0083ff' size=100}}
      </div>
    {{/if}}
  </div>
</section>
