{{#if election.country.flag.isFulfilled}}
	<div class="country-item">
		<div class="item-title">
			{{#link-to 'election' election.id}}
				<h2>{{election.type.name}} {{election.fixDate}} <br> <span>{{election.level.name}}</span> </h2>
			{{/link-to}}
		</div>
		<div class="participation">
			<div class="vote">
				{{election.votersPercent}}%
			</div>
			<div class="percent">
				Bancas en juego {{election.banks}}
			</div>
		</div>
	</div>
{{else}}
	<div class="dummy"></div>
{{/if}}
