<li class="item-brief">
	{{#if election.country.flag.isFulfilled}}
		<div>
            <div class="flag -brief" post-id="image-{{election.id}}">
              <img {{bind-attr src=election.country.flag.url}}>
            </div>
			<h4>{{#link-to 'election' election.id}} {{election.name}} {{/link-to}} <br> <small>{{election.fixDate}}</small></h4>
			<p>{{election.type.name}} {{election.level.name}}</p>
			<p>participacion: {{election.voters}} ({{election.votersPercent}}%)</p>
			{{#each election.bestFormulas as |formula|}}
				{{partial 'partials/formula/brief'}}
			{{/each}}
		</div>
	{{else}}
		<div class="dummy"></div>
	{{/if}}
</li>
