{{#if election.country.flag.isFulfilled}}

	  <div class="card">
	    <div class="card-image">
	    	<div class="card-headers" post-id="header-{{election.id}}">
				<time>{{election.fixDate}}</time> <br>
				<small> {{election.type.name}} {{election.level.name}}</small>
		    </div>
			{{#link-to 'election' election.id}}
			<img {{bind-attr src=election.country.flag.url}} post-id="image-{{election.id}}">
			{{/link-to}}
			 
	    </div>
		<div class="card-copy">
			{{#tool-tipster title="Participación"}} 
			<div class="participation">
				<div class="vote">
					{{fa-icon 'users'}}
					{{election.voters}}
				</div>
				<div class="percent">
					{{election.votersPercent}}%
				</div>
			</div>
			{{/tool-tipster}}


			{{#each election.bestFormulas as |formula|}}
				{{partial 'partials/formula/brief'}}
			{{/each}}
		</div>
	  </div>
	 
{{else}}
	<div class="dummy"></div>
{{/if}}
