<div class="country">
	<div class="country-container">
		<div class="country-detail">
			<div class="detail-header">
				<h1>Eleccion {{election.level.name}}  en {{election.country.name}}</h1>
				<i>{{election.instance.name}} {{election.category.name}} y {{election.participation.name}}s 
				del <time>{{election.fixDate}}</time></i>
			</div>

			<div class="detail-content">
				<div class="results">
					<div class="list-header -brief">
						{{#if election.isEjecutive}}
							<div class="item-title">
								Formulas
							</div>
							<div class="item-content ">
								<div class="item -voters">
									Participación
								</div>
								<div class="item -banks">
									Bancas en juego
								</div>
							</div>
				        {{/if}}
				        {{#if election.isLegislative}}
							<div class="item-title">
								Resultados
							</div>
							<div class="item-content ">
								<div class="item -voters">
									Participación
								</div>
								<div class="item -banks">
									Porcentaje
								</div>
							</div>
				        {{/if}}
						{{#if election.isReferendum}}
							<div class="item-title">
								Propuesta
							</div>
							<div class="item-content ">
								<div class="item -voters">
									Participación
								</div>
								<div class="item -banks">
									Bancas en juego
								</div>
							</div>
						{{/if}}	
						
					</div>
					
					<div class="formula-container">
					{{#each election.formulasSorted as |formula|}}
					      {{#if election.isEjecutive}}
					        {{partial 'partials/formula/ejecutive/brief'}}
					      {{/if}}
					      {{#if election.isLegislative}}
					        {{partial 'partials/formula/legislative/brief'}}
					      {{/if}}
					      {{#if election.isReferendum}}
					      	{{partial 'partials/formula/referendum/brief'}}
					      {{/if}}			
					{{/each}}
					</div>
				</div>

				<aside>
					<h6 class="title">Participacion</h6>
					<div class="election-participation">
						<span>{{election.votersPercent}}%</span>
						<small>{{election.voters}}</small>
					</div>
					<div class="banks">
						{{#if isLegislative}}
							<h6>Bancas renovadas</h6>
							<span>{{election.banks}}</span>
							<small>{{election.cameraType.name}} </small>
						{{/if}}
						{{#if isReferendum}}
							{{#if election.vinculated}}
								Vinculada
							{{else}}
								No Vinculada
							{{/if}}
						{{/if}}
					</div>
				</aside>
			</div>
			
			<div class="detail-content">
			
				<h4>Datos</h4>
				<div class="data-item">
					<label for="">Electores</label> {{election.electors}}
				</div>
				<div class="data-item">
					<label for="">Votantes</label> {{election.voters}} ({{election.votersPercent}}%)
				</div>
				<div class="data-item">
					<label for="">Nulos</label> {{election.nulls}} ({{election.nullsPercent}}%)
				</div>
				<div class="data-item">
					<label for="">Positivos</label> {{election.positives}} ({{election.positivesPercent}}%)
				</div>
				<div class="data-item">
					<label for="">Blancos</label> {{election.blank}} ({{election.blanksPercent}}%)
				</div>
				<div class="data-item">
					<label for="">Validos</label> {{election.valids}} ({{election.validsPercent}}%)
				</div>
				<div class="data-item">
					<label for="">Abstenciones</label> {{election.abstens}} ({{election.abstensPercent}})
				</div>

				{{#if election.unchecked}}			
				<div class="data-item">
					<label for="">Sin marcar</label> {{election.unchecked}} ({{election.uncheckedPercent}})
				</div>				
				{{/if}}
			</div>

			<div class="detail-content">
				<h4>Referencia</h4>
				<p>{{election.history}}</p>
			</div>
		</div>
	</div>
</div>