<div class="country">
	<div class="country-container">

		<ul class="country-filter" >
			<li {{bind-attr class="allElections:active"}}>
				<a {{action 'search' null model.country}}> Ver Todas</a>
			</li>		
		{{#each model.types as |type|}}
			<li {{bind-attr class="type.isActive:active"}}>
				<a {{action 'search' type model.country}} >{{type.name}}</a>
			</li>
		{{/each}}
		</ul>

		<section class="country-content" style="width: 100%;">
			<div class="country-list">
				{{#if model.elections}}
					<div class="list-header">
						<div class="item-title">
							Nombre de la eleccion
						</div>
						<div class="item-content">
							<div class="item -banks">
								Bancas en juego
							</div>
							<div class="item -voters">
								Participación
							</div>
							<div class="item -date">
								Fecha de la elección
							</div>
						</div>
					</div>
					{{#each model.elections as |election|}}
						{{partial 'partials/election/brief'}}
					{{/each}}
				{{else}}
					<div class="no-content">
						{{fa-icon 'exclamation'}}
						Todavia no se ha cargado el contenido
					</div>
				{{/if}}
			</div>
		</section>
	</div>
</div>