<div class="country {{model.country.componentName}}">
	<div class="country-container">
		<div class="country-nav">
		
			<h1> <span>{{fa-icon 'signal'}}</span> Elecciones en {{model.country.name}}</h1>	
		</div>

		<div class="country-filter tabs tabs-style-linemove">
			<nav>
				<ul>
					<li {{bind-attr class="allElections:active"}}>
						<h5 {{action 'search' null model.country}}> Ver Todas</h5>
					</li>
					{{#each model.types as |type|}}
						<li {{bind-attr class="type.isActive:active"}}>
							<h5 {{action 'search' type model.country}} >{{type.name}}</h5>
						</li>
					{{/each}}
				</ul>
			</nav>
		</div>

		<section class="country-content" style="width: 100%;">
			<div class="country-list">
				{{#if model.elections}}
					<div class="list-header">
						<div class="item-title">
							Nombre de la elección
						</div>
						<div class="item-content">
							<div class="item -banks">
								&nbsp;
							</div>
							<div class="item -voters">
								Participación
							</div>
							<div class="item -date">
								Fecha de la elección
							</div>
						</div>
					</div>
					{{#each model.elections as |election|}}
						{{partial 'partials/election/brief'}}
					{{/each}}
				{{else}}
					<div class="no-content">
						{{fa-icon 'exclamation'}}
						Todavia no se ha cargado el contenido
					</div>
				{{/if}}
			</div>
		</section>
	</div>
</div>