<div class="country">
	<div class="country-container">
		
	<h1>Elecciones en {{country.name}}</h1>

	<ul class="country-filter">
	{{#each model.types as |type|}}
		<li {{bind-attr class="type.isActive:active"}}>
			<a {{action 'search' type model.country}} >{{type.name}}</a>
		</li>
	{{/each}}
	</ul>

	<section class="section-content brief-container" style="width: 100%;">
		<div class="country-list">
			{{#if model.elections}}
				{{#each model.elections as |election|}}
					{{partial 'partials/election/brief'}}
				{{/each}}
			{{else}}
				<div class="no-content">
					{{fa-icon 'exclamation'}}
					Todavia no se ha cargado el contenido
				</div>
			{{/if}}
		</div>
	</section>
	</div>
</div>