<div class="no-content -error">
  <h2>{{fa-icon "exclamation-triangle"}}</h2>
  <p>{{statusText}} {{status}}</p> <br>
  <small>{{responseText}}</small>
  <a {{ action 'invalidateSession' }} class="btn">{{fa-icon 'refresh'}} Refrescar</a>
</div>