

  <form class="login-form" {{action 'authenticate' on='submit'}}>
    <fieldset class="login-image">
      <img src="assets/images/observatorio-logo.svg">
    </fieldset>
    <fieldset {{bind-attr class=":login-alert errorMessage:is-visible"}}>
      <p>{{errorMessage}}</p>
    </fieldset>
    <fieldset>
      <label for="identification">
      {{fa-icon "user"}}</label>
      {{input id='identification' placeholder='E-mail' class='form-control' type='email' value=identification title='El mail no es válido' required=""}}
    </fieldset>

    <fieldset>
       <label for="password">
        {{fa-icon "lock"}}</label>
        {{input id='password' placeholder='Contraseña' class='form-control' type='password' value=password required=""}}
    </fieldset>

    <fieldset>
      <button type="submit" class="btn btn-default">
          {{#if loading}}
            {{loading-spin color='#999' size=11}}
          {{/if}} Ingresar
      </button>
    </fieldset>
  </form>

