<section>
  <div class="section-header">
    <h1>Provincias</h1>
    {{link-to "Agregar provincia" "data-entry.elections.provinces.new" classNames="btn"}}
  </div>
  <div class="section-content">
    <div class="search-form">
      <label class="item">
        Pais
      {{model-selector modelName='country' value=country optionLabelPath="content.name" class="select-item"}}
      </label>

      <a {{action 'search'}} class="action">
        {{fa-icon "search"}}
      </a>
    </div>  
    {{#if model.length}}
      <div class="slat-list ">
        {{#each province in model}}
          <div class="slat-item -image">
             <div class="slat-img">
              {{#if province.country.flag.url}}
                <div class="img-container -country">
                  <img {{bind-attr src=province.country.flag.url}} width="50px">
                </div>
              {{/if}} 
            </div>
            <div class="slat-content">
                         
              <h4>{{province.name}}</h4>
            </div>
            <div class="slat-action">
              {{link-to "Editar" "data-entry.elections.provinces.edit" province classNames="btn"}}
              <a href="#" class="btn" {{action "remove" province}}>Eliminar</a>
            </div>
          </div>
        {{/each}}
        {{infinity-loader infinityModel=model}}
      </div>
    {{else}}
      <div class="loading">
        {{loading-bubbles color='#0083ff' size=100}}
      </div>
    {{/if}}
  </div>
</section>
