<div class="ejecutive-detail">
  
  <div class="brief-header">
    <h5>{{formula.politicalForce.name}} {{format-number formula.votes format="0.0"}} ({{formula.percent}}%)</h5>
  </div>

  <div class="brief-content">
      {{#each formula.candidates as |candidate|}}
         {{#link-to 'candidate' candidate.candidate.id}}
             {{#if candidate.candidate.picture.url}}
                <img {{bind-attr src=candidate.candidate.picture.url}} width="50px">
            {{/if}}  
         {{/link-to}}
          <h5 style="margin: 0;">{{candidate.candidate.fullName}}  <i>{{candidate.charge.name}}</i></h5>
      {{/each}}

        {{#each formula.provinceStatuses as |status|}}
          <div class="brief-item">
          <div class="item-name">
            
          Provincia | Estado  <!-- Select Obligatoria | Opcional -->
          {{status.province.name}}
          </div>
          <div class="item-votes">

           
             {{format-number status.votes.votes format="0.0"}}
           <small>Votos</small>
          </div>
          <div class="item-percent">
             {{status.votes.percent}}%
          </div>
          </div>
      {{/each}}   
  </div>
</div>