<form {{action "save" on="submit"}} class="create-event">
  <fieldset>
    <label>
      Nombre
      {{input type="text" value=model.name}}
    </label>
  </fieldset>
  <fieldset>
    <label>
      Apellido
      {{input type="text" value=model.lastName}}
    </label>
  </fieldset>
  <fieldset>
    <label>
      Email
      {{input type="text" value=model.email}}
    </label>
  </fieldset>
  <fieldset>
    <label>
      Contraseña
      {{input type="text" value=model.password}}
    </label>
  </fieldset>

  <fieldset>
    <label>
      Roles
      {{multiselect-checkboxes options=controller.roleList labelProperty='label' selection=roles}}      
    </label>
  </fieldset>
  <fieldset>
    <input type="submit" value="Guardar">
  </fieldset>
</form>

