{{#if model.length}}
   <table class="table-minimal">
    <thead>
      <tr>
        <th>
          <h3>Usuarios</h3>
        </th>
         <th>
          {{link-to "Crear usuario" "admin.users.new" classNames="btn pull-right" }}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each user in model}}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.name}} {{user.lastName}} <br> {{user.email}}</td>
          <td>{{user.role}}</td>
          <td>{{user.wall}}</td>
          <td>{{user.groups.name}}</td>
          <td>{{user.friends.lastName}}</td>
          <td>
            {{link-to "Editar" "admin.users.edit" user}}
          </td>
          <td>
            <a href="#" {{action "remove" user}}>Eliminar</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{infinity-loader infinityModel=model}}
{{else}}
  <div class="loading">
  {{loading-bubbles color='#0083ff' size=100}}
</div>
{{/if}}
