
  <div class="section-header -table">
    <h1>Usuarios</h1>
    {{link-to "Crear usuario" "admin.users.new" classNames="btn"}}
  </div>

  {{#if model.length}}
    <div class="section-content">
        {{#if model.length}}
          <div class="slat-list">
             {{#each user in model}}
              <div class="slat-item">
                <div class="slat-content">
                  <h4>
                  {{user.name}} {{user.lastName}} 
                  <small>{{user.email}} {{user.role}} {{user.wall}} {{user.groups.name}} {{user.friends.lastName}}</small>
                  </h4>
                   
                </div>
                <div class="slat-action">
                 {{link-to "Editar" "admin.users.edit" user class="btn"}}
                  <a href="#" class="btn" {{action "remove" user}}>Eliminar</a>
                </div>
              </div>
            {{/each}}
            {{infinity-loader infinityModel=model}}
          </div>
        {{else}}
          <div class="loading">
            {{loading-bubbles color='#0083ff' size=100}}
          </div>
        {{/if}}
      </div>
    {{/if}}


