<form {{action "save" on="submit"}} class="create-event">
  <fieldset>
    <label>
      Nombre
      {{input type="text" value=model.name}}
    </label>
  </fieldset>
  <fieldset>
    <label>
      Polygono
      {{input type="text" value=model.polygon}}
    </label>
  </fieldset> 
  <div class="upload-file">
      {{#if model.flag.url}}
        <div class="img-container">
          <img {{bind-attr src=model.flag.url}}>
        </div>
      {{/if}}
      {{file-uploader file=model.flag multiple=false}}
  </div>    
  <fieldset>
    <input type="submit" value="Guardar">
  </fieldset>
</form>
    
