<section>
  <div class="section-header">
    <h1>Reportes</h1>
    {{link-to "Agregar Reporte" "data-entry.elections.reports.new" classNames="btn"}}
  </div>
  <div class="section-content">
    {{#if model.length}}
      <div class="slat-list ">
        {{#each report in model}}
          <div class="slat-item -image">
             <div class="slat-img">
            </div>
            <div class="slat-content">
                         
              <h4>{{report.title}}</h4>
            </div>
            <div class="slat-action">
              {{link-to "Editar" "data-entry.elections.reports.edit" report classNames="btn"}}
              <a href="#" class="btn" {{action "remove" report}}>Eliminar</a>
            </div>
          </div>
        {{/each}}
        {{infinity-loader infinityModel=model}}
      </div>
    {{else}}
      <div class="loading">
        {{loading-bubbles color='#0083ff' size=100}}
      </div>
    {{/if}}
  </div>
</section>
